.App {
    height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 21px;
    font-weight: 400;
    color: #343030;
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.header{
    height: 96px;
}
.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECEAEA;
    height: 96px;

}
.menu,
.menu-footer{
    margin-left: 96px;
    display: flex;
}
.menu-item{
    padding-right: 48px;
}
.header-form{
    position: relative;
    margin: 24px 0 24px 99px;
}
.header-input{
    position: relative;
    height: 48px;
    width: 416px;
    border: 1px solid #d2cece;
    text-align: left;
    outline:none;
    background-color: #E5E5E5;
    font-size: 15px;
    padding-left: 14px;
}

.header-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding: 14px 182px 14px 0;
    color: #9F9F9F;
}

.headline-btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    cursor: pointer;
    width: 122px;
    padding: 14px 36px;
    background-color: #403432;
    border-radius: 0;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s ease;
}
.header-line{
    width: 100%;
    border: 1px solid #d2cece;
}
.main{
    margin: 45px 0 320px 0;
    max-width: 100%;
}
.title{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
.picture-list{
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
}
.picture-item{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #d2cece;
    justify-content: right;
    max-width: 278px;
    max-height: 328px;
    margin-right: 32px;
}
.picture-name{
    padding: 20px 36px 22px 24px;
    margin: 0;
    color: #343030;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.sold{
    margin: 0;
    padding:0 60px 36px 24px;
}

.old-price{
    margin: 0;
    padding-left: 24px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #A0A0A0;
    text-decoration-line: line-through;
}
.new-price{
    margin: inherit;
    padding: 0 0 26px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #343030;
}

.picture-btn{
    position: absolute;
    margin:256px 24px 24px 138px;
    padding: 14px 30px 13px;
    background-color: #382E2B;
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    line-height: 21px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F4F6F9;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.picture-btn:hover,
.headline-btn:hover{
    background-color: #E5E5E5;;
    color: #403432;
    border:1px solid #403432;
}
.footer{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    height: 96px;
    background-color: #ECEAEA;
}

.phone-img{
    padding-left: 79px;
}
.menu-item .phone{
    flex-wrap: nowrap;
    padding-left: 9px;
}
.phone{
    padding-left: 9px;
}
.address{
    padding-left: 19px;
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #555555;
}

.picture-item-sold{
    background-color: #E5E5E5;
    border: 1px solid #bcbaba;
    opacity: 0.5;
    z-index: 100;
}

.menu-item-footer{
    padding-right: 8px;
}
