.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    height: 100%;
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 21px;
    font-weight: 400;
    color: #343030;
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.hide{
    visibility: hidden;
}
.header{
    height: 96px;
}
.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECEAEA;
    height: 96px;

}
.menu,
.menu-footer{
    margin-left: 96px;
    display: flex;
}
.menu-item{
    padding-right: 48px;
}
.header-form{
    position: relative;
    margin: 24px 0 24px 99px;
}
.header-input{
    position: relative;
    height: 48px;
    width: 416px;
    border: 1px solid #d2cece;
    text-align: left;
    outline:none;
    background-color: #E5E5E5;
    font-size: 15px;
    padding-left: 14px;
}

.header-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding: 14px 182px 14px 0;
    color: #9F9F9F;
}

.headline-btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    cursor: pointer;
    width: 122px;
    padding: 14px 36px;
    background-color: #403432;
    border-radius: 0;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #FFFFFF;
    transition: 0.3s ease;
}
.header-line{
    width: 100%;
    border: 1px solid #d2cece;
}
.main{
    min-height: 74vh;
    margin: 45px 0 0 0;
    max-width: 100%;
    max-height: 100%;
    flex:1 1 auto;
}
.title{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
.picture-list{
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
}
.picture-item{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #d2cece;
    justify-content: right;
    max-width: 278px;
    max-height: 328px;
    margin-right: 32px;
}
.picture-name{
    padding: 20px 36px 22px 24px;
    margin: 0;
    color: #343030;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.sold{
    margin: 0;
    padding:0 60px 36px 24px;
}

.old-price{
    margin: 0;
    padding-left: 24px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #A0A0A0;
    text-decoration-line: line-through;
}
.new-price{
    margin: inherit;
    padding: 0 0 26px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #343030;
}

.picture-btn{
    position: absolute;
    margin:256px 24px 24px 138px;
    padding: 14px 30px 13px;
    background-color: #382E2B;
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    line-height: 21px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F4F6F9;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.picture-btn:hover,
.headline-btn:hover{
    background-color: #E5E5E5;;
    color: #403432;
    border:1px solid #403432;
}
.footer{
    max-width: 100%;
    padding: 0 15px;
    height: 96px;
    background-color: #ECEAEA;
}

.phone-img{
    padding-left: 79px;
}
.menu-item .phone{
    flex-wrap: nowrap;
    padding-left: 9px;
}
.phone{
    padding-left: 9px;
}
.address{
    padding-left: 19px;
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #555555;
}

.disabled{
    background-color: #E5E5E5;
    opacity: 0.5;
    z-index: 100;
}
.undiscouted{

}
@media (max-width: 1265px){
    .nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header{
        display: block;
    }
    .menu{
        padding-top: 30px;
    }
    .header-form{
        margin: 24px 0 24px 40px;;
    }
    .title{
        padding: 35px 0 0 30px;
        text-align: center;
    }
    .picture-list{
        padding: 5px 0 15px 25px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .picture-item{
        margin-top: 25px;
    }
    .new-price{
        margin: 0;
    }
    .undiscouted{
        padding-top: 15px;
    }
    .footer {
        flex: 0 0 auto;
    }
    /*.nav-footer{*/
    /*    height: 300px;*/
    /*}*/
    .phone-img{
        padding: 0;
    }
    .menu-footer{
        flex-wrap: wrap;
        align-items: center;
        padding-left: 80px;
        justify-content: center;
        margin: 0;
    }
    .container{
        padding: 0;
    }
}

@media (max-width: 1135px){
    .address{
       padding: 15px 0 0 19px;
    }
}

@media (max-width: 1000px){
    .picture-list{
        padding-right: 40px
    }
    .picture-item{
       margin:20px 0 0 15px;
    }
    .header-form{
        margin: 24px -22px 24px 40px;
    }
    .address,
    .phone-img,
    .phone{
        padding: 15px 0 0 19px;
    }
    .address{
        padding-right: 65px;
    }
}
@media (max-width: 712px){
    .menu{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .menu-item{
        padding-top: 15px ;
    }
    .title{
        padding: 35px 0 0 15px;
    }
    .picture-item{
        margin-left:15px;
    }
    .menu{
        margin-left: 53px;
        padding-top: 15px;
    }
    .header-form{
        margin: 24px 0px 24px 10px;
    }
    .menu-footer{
        padding-left: 45px;
    }
}
@media (max-width: 670px){
    .menu-link,
    .phone,
    .address{
        font-size: 18px;
    }
    .title{
        padding: 80px 0 0 27px;
    }
    .picture-item{
        margin:25px 0 0 15px;
    }
    .nav-footer{
        height: 150px;
    }
}
@media (max-width: 530px){
    .header-input::placeholder{
        font-size: 16px;
    }
    .header-form{
        margin: 20px 0 10px 0;
    }
    .title{
        padding: 55px 0 0 5px;
    }
    .menu-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav-footer{
        height: 250px;
    }
    .phone{
        padding-right: 70px;
    }
}
@media (max-width: 460px){
    .header-input{
        width: 320px;
        padding-left: 10px;
    }
    .header-input::placeholder{
        font-size: 15px;
    }
    .headline-btn{
        width: 100px;
        padding: 0;
    }
    .menu{
        padding: 0;
        flex-direction: column;
    }
    .title{
        padding: 148px 0 0 5px;
        font-size: 20px;
    }
    .nav-footer{
        height: 300px;
    }
    .menu-link,
    .phone,
    .address{
        font-size: 15px;
    }
    .phone{
        padding-right: 60px;
    }
}
@media (max-width: 360px){
    .title{
        padding-top: 140px ;
    }
    .header-form{
        margin: 10px 0 10px 0;
    }
    .nav{
        margin: 0;
    }
    .header-input{
        width: 300px;
        padding-right: 0;
    }
    .menu-footer{
        padding-left: 25px;
    }
}